
@media (max-width: 860px) {

    #team-detail .team-opponent-logo {
        width: 22px !important;
        height: 22px !important;
        max-width: 22px !important;

        flex: 0 0 22px !important;

        object-fit: contain !important;
    }

}
